.advantages {
    overflow: hidden;
    &__title {
        margin-bottom: 100px;
        @include md {
            margin-bottom: 35px;
        }
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(200px, 450px));
        row-gap: 30px;
        column-gap: 30px;
        @include lg {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(200px, 450px));
            row-gap: 15px;
            column-gap: 15px;
        }
        @include md {
            row-gap: 12px;
            column-gap: 12px;
            grid-template-rows: repeat(3, minmax(200px, 276px));
        }
    }
    &__block {
        color: #ffffff;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 450px;
        position: relative;
        transition: all .3s ease;
        overflow: hidden;
        cursor: url("../../img/cursor-custom.svg"), pointer;
        @include md {
            height: 276px;
        }
        &:nth-child(1) .advantages__image {
            background-image: url("../../img/icon-lamp.png");
            background-repeat: no-repeat;
            background-position: center top;
        }
        &:nth-child(2) .advantages__image {
            background: url("../../img/icon-computer.png") no-repeat center top;
        }
        &:nth-child(3) .advantages__image {
            background: url("../../img/icon-shield.png") no-repeat center top;
        }
        &:nth-child(4) .advantages__image {
            background: url("../../img/icon-checklist.png") no-repeat center top;
        }
        &:nth-child(5) .advantages__image {
            background: url("../../img/icon-analytics.png") no-repeat center top;
        }
        &:nth-child(6) .advantages__image {
            background: url("../../img/icon-coins.png") no-repeat center top;
        }
        & .advantages__image {
            width: calc(100% - 32px);
            height: calc(100% - 50px);
            position: absolute;
            top: 0;
            margin-top: 50px;
            overflow: hidden;
            transition: all .3s ease;
            @include md {
                background-size: 50% !important;
                height: calc(100% - 20px);
                margin-top: 20px;
            }
            & .advantages__image-gradient {
                transition: all .3s ease;
                width: 100%;
                height: calc(100% - 50px);
                transform: translateY(100px);
            }
        }
    }
    &__block--create {
        background-color: #56D62A;
    }
    &__block--classic {
        background-color: #FFAD28;
    }
    &__block--safety {
        background-color: #F55151;
    }
    &__block--support {
        background-color: #151515;
    }
    &__block--stability {
        background-color: #7E44FE;
    }
    &__block--low {
        background-color: #FA44FE;
    }
    &__block:hover .advantages__image .advantages__image-gradient {
        height: 100%;
    }
    &__block:nth-child(1):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #56D62A 57.3%, rgba(86, 214, 42, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(2):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #FFAD28 57.3%, rgba(255, 173, 40, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(3):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #F55151 57.3%, rgba(245, 81, 81, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(4):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #151515 57.3%, rgba(21, 21, 21, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(5):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #7E44FE 57.3%, rgba(126, 68, 254, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(6):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(360deg, #FA44FE 64.16%, rgba(250, 68, 254, 0) 181.16%);
        transform: translateY(0);
    }
    &__block:nth-child(1):hover &__content {
        margin-bottom: 28px;
    }
    &__content {
        visibility: hidden;
        opacity: 0;
        transform: translateY(30px);
        max-height: 0;
        transition: all .3s ease;
        margin: 0;
        z-index: 1;
        font-size: 20px;
        line-height: 22.5px;
        margin-bottom: 30px;
        @include lg {
            margin-bottom: 6px;
            font-size: 20px;
            line-height: 1.2;
        }
        @include md {
            margin-bottom: 0;
            font-size: 13px;
        }
    }
    &__block:hover &__content {
        visibility: visible;
        opacity: 1;
        height: fit-content;
        max-height: 100%;
        transform: translateY(0);
    }
    &__block-more {
        margin: 0;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 16px;
        z-index: 1;
        &::after {
            content: "❯";
            margin-left: 10px;
            font-size: 10px;
        }
    }
    &__block-title {
        z-index: 1;
        font-weight: 700;
        font-size: 32px;
        line-height: 25px;
        margin: 0;
        margin-bottom: 20px;
    }
    @include md {
        & .slick-list {
            width: 100%;
            max-width: 270px;
        }
        &__block {
            padding: 20px;
            justify-content: flex-start;
            max-width: 270px;
            width: 270px !important;
            &:nth-child(1):hover .advantages__content {
                margin-bottom: 0;
            }
            & .advantages__image {
                order: 1;
                margin-top: 0;
                position: initial;
                max-height: 90px;
                height: 90px;
                margin-bottom: 15px;
                width: auto;
                background-size: contain !important;
                background-position: top left !important;
            }
            &__block:hover .advantages__content {
                height: auto;
                max-height: initial;
            }
        }
        &__block+&__block {
            margin-left: 12px;
        }
        &__image-gradient {
            display: none;
        }
        &__content {
            display: block;
            visibility: visible;
            opacity: 1;
            font-size: 15px;
            font-weight: 600;
            max-height: initial;
            transform: translateY(0);
            order: 3;
        }
        &__block-title {
            order: 2;
        }
        &__wrap {
            display: flex;
            grid-template-columns: none;
            column-gap: initial;
            row-gap: initial;
            min-width: 0;
            width: 100%;
            & .slick-list {
                overflow: visible;
            }
        }
    }
}