.advantages {
    &__title {
        margin-bottom: 100px;
        @include md {
            margin-bottom: 35px;
        }
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(200px, 450px));
        row-gap: 30px;
        column-gap: 70px;
        @include lg {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(200px, 450px));
            column-gap: 30px;
        }
        @include md {
            column-gap: 12px;
            grid-template-rows: repeat(3, minmax(200px, 276px));
        }
    }
    &__block {
        color: #ffffff;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 450px;
        position: relative;
        transition: all .3s ease;
        @include md {
            height: 276px;
        }
        &:nth-child(1) .advantages__image {
            background-image: url("../../img/icon-lamp.png");
            background-repeat: no-repeat;
            background-position: center top;
        }
        &:nth-child(2) .advantages__image {
            background: url("../../img/icon-computer.png") no-repeat center top;
        }
        &:nth-child(3) .advantages__image {
            background: url("../../img/icon-shield.png") no-repeat center top;
        }
        &:nth-child(4) .advantages__image {
            background: url("../../img/icon-checklist.png") no-repeat center top;
        }
        &:nth-child(5) .advantages__image {
            background: url("../../img/icon-analytics.png") no-repeat center top;
        }
        &:nth-child(6) .advantages__image {
            background: url("../../img/icon-coins.png") no-repeat center top;
        }
        & .advantages__image {
            width: calc(100% - 32px);
            height: calc(100% - 50px);
            position: absolute;
            top: 0;
            margin-top: 50px;
            overflow: hidden;
            transition: all .3s ease;
            @include md {
                background-size: 50% !important;
                height: calc(100% - 20px);
                margin-top: 20px;
            }
            & .advantages__image-gradient {
                transition: all .3s ease;
                width: 100%;
                height: calc(100% - 50px);
                transform: translateY(100px);
            }
        }
    }
    &__block:nth-child(1) {
        background-color: #56D62A;
    }
    &__block:nth-child(2) {
        background-color: #FFAD28;
    }
    &__block:nth-child(3) {
        background-color: #F55151;
    }
    &__block:nth-child(4) {
        background-color: #151515;
    }
    &__block:nth-child(5) {
        background-color: #7E44FE;
    }
    &__block:nth-child(6) {
        background-color: #FA44FE;
    }
    &__block:hover .advantages__image .advantages__image-gradient {
        height: 100%;
    }
    &__block:nth-child(1):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #56D62A 57.3%, rgba(86, 214, 42, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(2):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #FFAD28 57.3%, rgba(255, 173, 40, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(3):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #F55151 57.3%, rgba(245, 81, 81, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(4):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #151515 57.3%, rgba(21, 21, 21, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(5):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(0.61deg, #7E44FE 57.3%, rgba(126, 68, 254, 0.23) 99.47%);
        transform: translateY(0);
    }
    &__block:nth-child(6):hover .advantages__image .advantages__image-gradient {
        background: linear-gradient(360deg, #FA44FE 64.16%, rgba(250, 68, 254, 0) 181.16%);
        transform: translateY(0);
    }
    &__block:nth-child(1):hover &__content {
        margin-bottom: 28px;
    }
    &__content {
        visibility: hidden;
        opacity: 0;
        transform: translateY(30px);
        max-height: 0;
        transition: all .3s ease;
        margin: 0;
        z-index: 1;
        font-size: 20px;
        line-height: 22.5px;
        margin-bottom: 12px;
        @include lg {
            margin-bottom: 6px;
            font-size: 20px;
            line-height: 1.2;
        }
        @include md {
            margin-bottom: 0;
            font-size: 13px;
        }
    }
    &__block:hover &__content {
        visibility: visible;
        opacity: 1;
        height: fit-content;
        max-height: 100%;
        transform: translateY(0);
    }
    &__block-more {
        margin: 0;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 16px;
        z-index: 1;
        &::after {
            content: "❯";
            margin-left: 10px;
            font-size: 10px;
        }
    }
    &__block-title {
        z-index: 1;
        font-weight: 700;
        font-size: 32px;
        line-height: 25px;
        margin: 0;
    }
}