.contacts-section {
    background-color: #262626;
    color: #ffffff;
    padding: 138px 0 0;
    &__bg-wrap {
        background: url("../../img/bg-footer.svg") no-repeat bottom center;
        background-size: contain;
        height: 100%;
        padding-bottom: 450px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__image-wrap {
        margin-left: 80px;
    }
    &__content {
        width: 100%;
    }
    &__title {
        font-size: 48px;
        margin-bottom: 15px;
    }
    &__subtitle {
        margin: 0;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 65px;
    }
    & &__form {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        & .form-contanct__submit {
            margin-top: 0;
            padding-top: 13px;
            padding-bottom: 13px;
            width: 100%;
            background-color: $accent;
            border-color: $accent;
            text-transform: uppercase;
        }
        @include md {
            flex-direction: column;
        }
    }
    & .form-contanct__wrap-block {
        display: flex;
        flex-direction: column;
        width: 33%;
        position: relative;
        padding-top: 35px;
        @include md {
            padding-top: 0;
        }
        & input[type="text"] {
            max-width: initial;
            width: 100%;
            background-color: #262626;
            border: 1px solid #ffffff;
            color: #ffffff;
            padding: 17px 15px !important;
            max-width: 370px;
        }
        & label {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            & br {
                display: none;
            }
        }
        @include md {
            width: 100%;
            & label {
                position: initial;
                white-space: normal;
                & br {
                    display: initial;
                }
            }
        }
    }
    @include lg {
        &__image-wrap {
            display: none;
        }
        &__content {
            max-width: auto;
            width: 100%;
            margin: 0 auto;
        }
        &__bg-wrap {
            padding-bottom: 300px;
        }
    }
    @include md {
        padding: 50px 0 0;
        &__bg-wrap {
            padding-bottom: 180px;
        }
        &__subtitle {
            font-size: 14px;
            margin-bottom: 30px;
            line-height: 1.2;
        }
    }
}