.info {
    background-color: $accent;
    color: #ffffff;
    padding-bottom: 230px;
    &__title {        
        padding-bottom: 58px;
        border-bottom: 1.5px solid #ffffff;
        margin-bottom: 60px;
    }
    &__content {
        display: flex;
    }
    &__block+&__block {
        margin-left: 20px;
    }
    &__block {
        max-width: 393px;
        width: 100%;
        &:nth-child(1).animate__fadeIn {
            -webkit-animation-delay:.3s;
        }
        &:nth-child(2).animate__fadeIn {
            -webkit-animation-delay:.5s;
        }
        &:nth-child(3).animate__fadeIn {
            -webkit-animation-delay:.7s;
        }
    }
    &__block-title {
        margin: 0;
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 40px;
    }
    &__block-content {
        margin: 0;
        font-size: 22px;
    }
    &__block-icon-wrap {
        margin-bottom: 40px;
    }
    @include md {
        &__title {
            padding-bottom: 32px;
            margin-bottom: 57px;
        }
        &__content {
            flex-direction: column;
        }
        &__block+&__block {
            margin-left: 0;
            margin-top: 128px;
        }
        &__block-title {
            font-size: 25px;
            margin-bottom: 23px;
        }
        &__block-content {
            font-size: 20px;
        }
        &__block {
            &::after {
                bottom: -37px;
            }
        }
        &__content {
            padding-left: 6px;
        }
    }
}