.step-by-step {
    &__slider {
        margin: 0 auto;
    }
    
    &__title {
        margin-bottom: 70px;
        text-align: center;
    }
    &__slider-main-wrap {
        position: relative;
        padding-top: 140px;
        @include md {
            padding-top: 0;
        }
    }
}