@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-Medium.woff") format("woff"), url("../font/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-SemiBold.woff") format("woff"), url("../font/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-Bold.woff") format("woff"), url("../font/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../font/Raleway-Bold.woff") format("woff"), url("../font/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font: 1em monospace, monospace;
}

a {
  background: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font: 1em monospace, monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font: 100%/1.15 inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font: 500 22px/30px "Montserrat", Arial, Helvetica, sans-serif;
  color: #2A2A2A;
  overflow-x: hidden;
}

.button-reset {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 168px 0;
}

.block-title {
  font: 600 48px/1.16 "Raleway", Arial, Helvetica, sans-serif;
  margin: 0;
}

.block-title span {
  color: #7e44fe;
}

body {
  font: 500 22px/30px "Montserrat", Arial, Helvetica, sans-serif;
  color: #2A2A2A;
  overflow-x: hidden;
}

.about {
  text-align: center;
}

.about__title {
  margin-bottom: 45px;
}

.about__subtitle {
  max-width: 740px;
  margin: 0 auto;
  margin-bottom: 108px;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 320px;
  border: 18px solid #ffffff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__block {
  background: #7e44fe;
  color: #ffffff;
  width: 33.3%;
  padding: 50px 0;
  height: 284px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.about__block:first-child::after,
.about__block:last-child::after {
  background: #ffffff;
  content: "";
  position: absolute;
  top: 82px;
  right: 0;
  width: 2px;
  height: 120px;
}

.about__block:last-child::after {
  background: #ffffff;
  right: initial;
  left: 0;
}

.about__block-title,
.about__block-text {
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0;
}

.about__block-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  display: none;
}

.about__block-text {
  font-size: 20px;
  line-height: 30px;
  padding: 0 40px;
  display: none;
}

.about__block:hover .about__block-title,
.about__block:hover .about__block-text {
  display: inline-block;
}

.about__block:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translatey(-92px);
  -ms-transform: translatey(-92px);
  transform: translatey(-92px);
  -webkit-transform: scaleY(92px);
  -ms-transform: scaleY(92px);
  transform: scaleY(92px);
  height: 375px;
}

.about__block--DBX:hover::after {
  background: #7e44fe;
}

.about__block--bang:hover {
  background: #FEA844;
}

.about__block--s:hover {
  background: #56D62A;
}

.about__block--s:hover::after {
  background: #56D62A;
}

.about__block:hover .about__block-title,
.about__block:hover .about__block-text {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
  position: initial;
  height: auto;
}

.advantages__title {
  margin-bottom: 100px;
}

.advantages__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(200px, 450px));
  row-gap: 30px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.advantages__block {
  color: #ffffff;
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 450px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: url("../img/cursor-custom.svg"), pointer;
}

.advantages__block:nth-child(1) .advantages__image {
  background: url("../img/icon-lamp.png") no-repeat center top;
}

.advantages__block:nth-child(2) .advantages__image {
  background: url("../img/icon-computer.png") no-repeat center top;
}

.advantages__block:nth-child(3) .advantages__image {
  background: url("../img/icon-shield.png") no-repeat center top;
}

.advantages__block:nth-child(4) .advantages__image {
  background: url("../img/icon-checklist.png") no-repeat center top;
}

.advantages__block:nth-child(5) .advantages__image {
  background: url("../img/icon-analytics.png") no-repeat center top;
}

.advantages__block:nth-child(6) .advantages__image {
  background: url("../img/icon-coins.png") no-repeat center top;
}

.advantages__block .advantages__image {
  width: calc(100% - 32px);
  height: calc(100% - 50px);
  position: absolute;
  top: 0;
  margin-top: 50px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.advantages__block .advantages__image .advantages__image-gradient {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: calc(100% - 50px);
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}

.advantages__block:nth-child(1) {
  background: #56D62A;
}

.advantages__block:nth-child(2) {
  background: #FFAD28;
}

.advantages__block:nth-child(3) {
  background: #F55151;
}

.advantages__block:nth-child(4) {
  background: #151515;
}

.advantages__block:nth-child(5) {
  background: #7E44FE;
}

.advantages__block:nth-child(6) {
  background: #FA44FE;
}

.advantages__block:hover .advantages__image .advantages__image-gradient {
  height: 100%;
}

.advantages__block:nth-child(1):hover .advantages__image .advantages__image-gradient {
  background: -o-linear-gradient(89.39deg, #56D62A 57.3%, rgba(86, 214, 42, 0.23) 99.47%);
  background: linear-gradient(0.61deg, #56D62A 57.3%, rgba(86, 214, 42, 0.23) 99.47%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.advantages__block:nth-child(2):hover .advantages__image .advantages__image-gradient {
  background: -o-linear-gradient(89.39deg, #FFAD28 57.3%, rgba(255, 173, 40, 0.23) 99.47%);
  background: linear-gradient(0.61deg, #FFAD28 57.3%, rgba(255, 173, 40, 0.23) 99.47%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.advantages__block:nth-child(3):hover .advantages__image .advantages__image-gradient {
  background: -o-linear-gradient(89.39deg, #F55151 57.3%, rgba(245, 81, 81, 0.23) 99.47%);
  background: linear-gradient(0.61deg, #F55151 57.3%, rgba(245, 81, 81, 0.23) 99.47%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.advantages__block:nth-child(4):hover .advantages__image .advantages__image-gradient {
  background: -o-linear-gradient(89.39deg, #151515 57.3%, rgba(21, 21, 21, 0.23) 99.47%);
  background: linear-gradient(0.61deg, #151515 57.3%, rgba(21, 21, 21, 0.23) 99.47%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.advantages__block:nth-child(5):hover .advantages__image .advantages__image-gradient {
  background: -o-linear-gradient(89.39deg, #7E44FE 57.3%, rgba(126, 68, 254, 0.23) 99.47%);
  background: linear-gradient(0.61deg, #7E44FE 57.3%, rgba(126, 68, 254, 0.23) 99.47%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.advantages__block:nth-child(6):hover .advantages__image .advantages__image-gradient {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(64.16%, #FA44FE), color-stop(181.16%, rgba(250, 68, 254, 0)));
  background: -o-linear-gradient(bottom, #FA44FE 64.16%, rgba(250, 68, 254, 0) 181.16%);
  background: linear-gradient(360deg, #FA44FE 64.16%, rgba(250, 68, 254, 0) 181.16%);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.advantages__block:nth-child(1):hover .advantages__content {
  margin-bottom: 28px;
}

.advantages__content {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  max-height: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
  z-index: 1;
  font-size: 20px;
  line-height: 22.5px;
  margin-bottom: 30px;
}

.advantages__block:hover .advantages__content {
  visibility: visible;
  opacity: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.advantages__block-more {
  margin: 0;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 16px;
  z-index: 1;
}

.advantages__block-more::after {
  content: "❯";
  margin-left: 10px;
  font-size: 10px;
}

.advantages__block-title {
  z-index: 1;
  font-weight: 700;
  font-size: 32px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 20px;
}

.benefits {
  background: #2E2E2E;
  color: #ffffff;
  padding-bottom: 142px;
}

.benefits__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 65px;
}

.benefits__subtitle {
  margin: 0;
  font-size: 20px;
}

.benefits__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__content-inner-left,
.benefits__content-inner-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.benefits__content-inner-left .benefits__content-block:not(:first-child) {
  margin-top: 20px;
}

.benefits__content-inner-right {
  margin-left: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.benefits__content-block {
  padding: 32px 30px 22px;
  border: 2px solid #ffffff;
}

.benefits__content-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 32px;
}

.benefits__content-text {
  margin: 0;
  font-size: 20px;
  line-height: 22.5px;
}

.block-more {
  font-size: 17px;
  font-weight: 500;
}

.block-more::after {
  content: "❯";
  margin-left: 10px;
  font-size: 10px;
}

.button-main {
  font: 500 20px "Montserrat";
  color: #7e44fe;
  padding: 8px 58px;
  border: 1px solid #7e44fe;
  white-space: nowrap;
}

.hero__button {
  font: 500 20px "Montserrat";
  color: #7e44fe;
  border: 1px solid #7e44fe;
  padding: 14px 52px;
}

.hero__button--accent {
  background: #7e44fe;
  padding: 14px 82px;
  color: #ffffff;
}

.contacts-section {
  background: #7e44fe;
  color: #ffffff;
  padding: 138px 0 175px;
}

.contacts-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-section__image-wrap {
  margin-left: 80px;
}

.contacts-section__content {
  max-width: 390px;
  width: 40%;
}

.contacts-section__title {
  font-size: 48px;
  margin-bottom: 15px;
}

.contacts-section__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 65px;
}

.form-contanct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-contanct input[type=label] {
  margin: 0;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-contanct input[type=text] {
  padding: 10px 15px;
  margin-bottom: 30px;
  max-width: 340px;
}

.form-contanct__submit {
  border-color: #ffffff;
  color: #ffffff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 82px;
  padding-right: 82px;
  margin-top: 105px;
}

.header {
  height: 80px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.header__container {
  height: 100%;
}

.header__logo-link {
  height: 58px;
}

.header__logo-link img {
  height: 58px;
  min-width: 55px;
}

.header__menu-burger {
  display: none;
}

.header__menu-button {
  background: white;
  width: 44px;
  height: 44px;
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__menu-burger {
  width: 20px;
  height: 14px;
  position: relative;
}

.header__menu-burger::before,
.header__menu-burger::after {
  background: #7e44fe;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header__menu-burger::before {
  top: 0;
}

.header__menu-burger::after {
  bottom: 0;
}

.header__menu-burger span {
  background: #7e44fe;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 6px;
}

.header__menu-button:hover {
  background: #7e44fe;
}

.header__menu-button:hover .header__menu-burger span,
.header__menu-button:hover .header__menu-burger::before,
.header__menu-button:hover .header__menu-burger::after {
  background: white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__menu-burger.active::before {
  background: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 6px;
}

.header__menu-burger.active::after {
  background: white;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 6px;
}

.header__menu-burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.nav.mobile-active .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav.mobile-active .nav__list li {
  margin-left: 0;
}

.header.header-mobile {
  background: #7e44fe;
  height: auto;
}

.hero {
  height: calc(100vh - 80px);
  overflow-y: hidden;
}

.hero .container {
  height: 100%;
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.hero__content {
  max-width: 710px;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 150px;
}

.hero__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 1.34;
  font-weight: 700;
  margin: 0;
  margin-bottom: 44px;
}

.hero__subtitle {
  margin: 0;
  font-size: 23px;
  line-height: 1.48;
  margin-bottom: 75px;
}

.hero__image-wrap {
  padding-left: 38px;
}

.hero__image {
  top: 104px;
  position: absolute;
}

.hero__button + .hero__button {
  margin-left: 27px;
}

.info {
  background: #7e44fe;
  color: #ffffff;
  padding-bottom: 230px;
}

.info__title {
  display: inline-block;
  padding-bottom: 58px;
  border-bottom: 1.5px solid #ffffff;
  margin-bottom: 105px;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__block + .info__block {
  margin-left: 20px;
}

.info__block {
  max-width: 393px;
  width: 100%;
  position: relative;
}

.info__block::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 80px;
  height: 15px;
  background: url("../img/icon-arrow.svg") no-repeat 0 0;
}

.info__block-title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 40px;
}

.info__block-content {
  margin: 0;
  font-size: 22px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.nav__item + .nav__item {
  margin-left: 26px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav__link:hover,
.nav__link:active {
  color: #7e44fe;
}

.nav.mobile-active {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 30px;
}

.header__mobile-active {
  background: #7e44fe;
  height: 63px;
}

.header .mobile-active {
  background: #7e44fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
}

.header .mobile-active a {
  color: #ffffff;
}

.popup-form__content {
  max-width: 570px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.popup-form__top {
  background: #7e44fe;
  padding: 40px 60px;
  color: #ffffff;
}

.popup-form__bottom {
  background: #ffffff;
  padding: 40px 60px 60px;
}

.popup-form__bottom input[type=text] {
  padding: 10px 15px;
  margin-bottom: 30px;
  max-width: 100%;
}

.popup-form__bottom .form-contanct .popup-form__submit {
  background: #7e44fe;
  border-color: #7e44fe;
  color: #ffffff;
  text-transform: uppercase;
}

#form-popup .popup__content {
  max-width: 570px;
  padding: 0;
}

#form-popup .popup__content .form-contanct label {
  color: #262626;
  margin: 0;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

#button-popup .popup__close {
  border-color: #7e44fe;
}

#button-popup .popup__close::before,
#button-popup .popup__close::after {
  background: #7e44fe;
}

#button-popup .popup-question__content {
  background: #ffffff;
  padding: 78px 154px;
  color: #2A2A2A;
  max-width: 1140px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#button-popup .popup-question__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}

#button-popup .popup-question__text {
  max-width: 660px;
  margin: 0;
}

#button-popup .popup-question__counter {
  -ms-flex-item-align: end;
  align-self: end;
}

#button-popup .popup-question__progressbar-wrap {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 102px;
}

#button-popup .popup-question__progressbar-inner {
  background: #7e44fe;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25%;
  height: 20px;
  border-radius: 10px;
}

#button-popup .popup-question__progressbar-pointer {
  background: #A6A6A6;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -4px;
}

#button-popup .popup-question__progressbar-pointer--active {
  background: #7e44fe;
}

#button-popup .popup-question__progressbar-pointer span {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 180px;
  top: 40px;
  left: calc(50% - 90px);
  line-height: 1.1;
}

#button-popup .popup-question__progressbar-pointer:nth-child(2) {
  left: calc(25% - 19px);
}

#button-popup .popup-question__progressbar-pointer:nth-child(3) {
  left: calc(50% - 19px);
}

#button-popup .popup-question__progressbar-pointer:nth-child(4) {
  left: calc(75% - 19px);
}

#button-popup .popup-question__text-type {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 46px;
}

#button-popup .popup-question__type-company-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#button-popup .popup-question__type-company-block {
  max-width: 186px;
  width: 23%;
}

#button-popup .popup-question__type-company-block:not(:first-child) {
  margin-left: 29px;
}

#button-popup .popup-question__type-company-image {
  background: #C4C4C4;
  width: 185px;
  height: 218px;
  margin-bottom: 10px;
}

#button-popup .popup-question__type-company-text {
  text-align: center;
}

.popup {
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
}

#builder .popup__content {
  background: #7e44fe;
}

#agency .popup__content {
  background: #262626;
}

#agency .popup__block--link {
  color: #262626;
}

#company .popup__content {
  background: #E06AE9;
}

#company .popup__block--link {
  color: #E06AE9;
}

.popup__content {
  color: #ffffff;
  padding: 79px 143px;
  max-width: 1467px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 0;
}

.popup__close {
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  top: 16px;
  right: 13px;
}

.popup__close::before {
  background: #ffffff;
  content: "";
  position: absolute;
  width: 19px;
  height: 2px;
  top: 14px;
  right: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup__close::after {
  background: #ffffff;
  content: "";
  position: absolute;
  width: 19px;
  height: 2px;
  top: 14px;
  right: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
}

.popup__title {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}

.popup__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 68px;
}

.popup__subtitle {
  font-size: 22px;
  margin-top: 9px;
}

.popup__close {
  display: none;
}

.popup__block {
  padding: 25px 29px;
  border: 2px solid #ffffff;
  width: 47.5%;
  margin-bottom: 20px;
}

.popup__block:nth-child(2n) {
  margin-left: 3%;
}

.popup__block--link {
  background: #ffffff;
  text-decoration: none;
  color: #7e44fe;
  font-weight: 700;
}

.popup__block--link:hover .popup__block-link-form p::after {
  right: -120px;
}

.popup__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.popup__block-title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 11px;
}

.popup__block-text {
  margin: 0;
  font-size: 20px;
  line-height: 1.15;
}

.popup__block-link-form {
  height: 100%;
  padding-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup__block-link-form p {
  position: relative;
}

.popup__block-link-form p::after {
  content: "";
  position: absolute;
  right: -110px;
  top: 9px;
  background: url("../img/icon-arrow-accent.svg") no-repeat center center;
  width: 80px;
  height: 15px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.progressbar__progressbar-wrap {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 102px;
}

.progressbar__progressbar-inner {
  background: #7e44fe;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20%;
  height: 20px;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.progressbar__progressbar-pointer {
  background: #A6A6A6;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -4px;
}

.progressbar__progressbar-pointer--active {
  background: #7e44fe;
}

.progressbar__point-text {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 180px;
  top: 40px;
  left: calc(50% - 90px);
  line-height: 1.1;
  color: #a6a6a6;
}

.progressbar__point-text--active {
  color: #7e44fe;
}

.progressbar__progressbar-pointer:nth-child(2) {
  left: calc(20% - 19px);
}

.progressbar__progressbar-pointer:nth-child(3) {
  left: calc(40% - 19px);
}

.progressbar__progressbar-pointer:nth-child(4) {
  left: calc(60% - 19px);
}

.progressbar__progressbar-pointer:nth-child(5) {
  left: calc(80% - 19px);
}

.proposal__title {
  text-align: center;
  margin-bottom: 103px;
}

.proposal__block {
  text-decoration: none;
  width: 100%;
  padding: 25px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  cursor: pointer;
}

.proposal__block:nth-child(1) {
  background: #7e44fe;
}

.proposal__block:nth-child(2) {
  background: #FEA844;
}

.proposal__block:nth-child(3) {
  background: #56D62A;
}

.proposal__block + .proposal__block {
  margin-left: 74px;
}

.proposal__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.proposal__block-title {
  color: #ffffff;
  font-size: 23px;
  margin: 0;
  margin-top: 50px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.proposal__block-more {
  margin: 0;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
}

.proposal__block-more::after {
  content: "❯";
  margin-left: 10px;
  font-size: 10px;
}

.proposal__block-image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.solutions {
  background: #2E2E2E;
  color: #ffffff;
}

.solutions__title {
  margin-bottom: 120px;
}

.solutions__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.solutions__block {
  padding: 42px 20px 30px;
  border: 2px solid #ffffff;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
}

.solutions__block + .solutions__block {
  margin-left: 20px;
}

.solutions__block-title {
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}

.solutions__block-more {
  margin: 0;
}

.solutions__text {
  margin: 0;
  font-size: 19px;
  line-height: 1.2;
  margin-bottom: 22px;
}

.solutions__list {
  margin: 0;
  font-size: 19px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.solutions__item {
  line-height: 1.2;
}

.step-by-step-slider {
  position: relative;
}

.step-by-step-slider__wrap {
  border: 13px solid #ffffff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  max-width: 820px;
  margin: 0 auto;
}

.step-by-step-slider__inner {
  max-width: 794px;
}

.step-by-step-slider__slide {
  padding: 40px 50px;
  max-width: 794px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.step-by-step-slider__slide--preparation {
  background: #7e44fe;
}

.step-by-step-slider__slide--creation {
  background: #FEA844;
}

.step-by-step-slider__slide--listing {
  background: #56D62A;
}

.step-by-step-slider__slide--asset-management {
  background: #F55151;
}

.step-by-step-slider__image-wrap {
  background: #ffffff;
  min-width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.step-by-step-slider__slide-title {
  margin: 0;
  margin-bottom: 14px;
}

.step-by-step-slider__slide-text {
  margin: 0;
  font-size: 20px;
  line-height: 22.5px;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: calc(50% - 23px);
  background: url("../img/slider-arrow-active.png") no-repeat center center;
  width: 26px;
  height: 46px;
  font-size: 0;
  border: none;
  cursor: pointer;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  left: initial;
  right: 0;
}

/* Стрелка не активная */

.slick-arrow.slick-disabled {
  background: url("../img/slider-arrow-disabled.png") no-repeat center center;
}

/* Точки (булиты) */

.slick-dots {
  position: absolute;
  top: -139px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slick-dots li {
  position: absolute;
}

.slick-dots li button {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 5px solid #fff;
  font-size: 0;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.slick-dots li:nth-child(1) {
  left: calc(20% - 19px);
}

.slick-dots li:nth-child(2) {
  left: calc(40% - 19px);
}

.slick-dots li:nth-child(3) {
  left: calc(60% - 19px);
}

.slick-dots li:nth-child(4) {
  left: calc(80% - 19px);
}

/* Активная точка */

.slick--active-color button {
  background: #7e44fe;
}

/* Элемент точки */

.step-by-step__slider {
  margin: 0 auto;
}

.step-by-step__title {
  margin-bottom: 70px;
  text-align: center;
}

.step-by-step__slider-main-wrap {
  position: relative;
  padding-top: 140px;
}

@supports (-webkit-appearance:none) {
  .advantages__block:nth-child(1) .advantages__image {
    background-image: url("../img/icon-lamp.webp");
  }

  .advantages__block:nth-child(2) .advantages__image {
    background: url("../img/icon-computer.webp") no-repeat center top;
  }

  .advantages__block:nth-child(3) .advantages__image {
    background: url("../img/icon-shield.webp") no-repeat center top;
  }

  .advantages__block:nth-child(4) .advantages__image {
    background: url("../img/icon-checklist.webp") no-repeat center top;
  }

  .advantages__block:nth-child(5) .advantages__image {
    background: url("../img/icon-analytics.webp") no-repeat center top;
  }

  .advantages__block:nth-child(6) .advantages__image {
    background: url("../img/icon-coins.webp") no-repeat center top;
  }

  .info__block::after {
    background: url("../img/icon-arrow.svg") no-repeat 0 0;
  }

  .popup__block-link-form p::after {
    background: url("../img/icon-arrow-accent.svg") no-repeat center center;
  }

  .slick-arrow {
    background: url("../img/slider-arrow-active.webp") no-repeat center center;
  }

  .slick-arrow.slick-disabled {
    background: url("../img/slider-arrow-disabled.webp") no-repeat center center;
  }
}

@media (max-width: 1190px) {
  #button-popup .popup-question__type-company-block {
    width: 50%;
    max-width: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #button-popup .popup-question__type-company-block:not(:first-child) {
    margin-left: auto;
  }

  #button-popup .popup-question__type-company-image {
    width: 95%;
  }

  #button-popup .popup-question__text {
    font-size: 16px;
    line-height: 1.2;
  }

  #button-popup .popup-question__text-wrap {
    margin-bottom: 35px;
  }

  #button-popup .popup-question__progressbar-pointer span {
    font-size: 12px;
    width: 100px;
    left: calc(50% - 50px);
  }

  #button-popup .popup-question__progressbar-wrap {
    margin-bottom: 50px;
  }

  #button-popup .popup-question__text-type {
    margin-bottom: 25px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) {
  .about__block {
    font-size: 18px;
  }

  .about__block-title,
  .about__block-text {
    font-size: 18px;
  }

  .advantages__wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(200px, 450px));
    row-gap: 15px;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }

  .advantages__content {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits__content-inner-right {
    margin-left: 20px;
  }

  .contacts-section__image-wrap {
    display: none;
  }

  .contacts-section__content {
    max-width: auto;
    width: 100%;
    margin: 0 auto;
  }

  .hero__content {
    margin-top: 50px;
    max-width: 710px;
  }

  .nav__item + .nav__item {
    margin-left: 16px;
  }

  .nav__link {
    font-size: 16px;
  }

  #button-popup .popup-question__content {
    padding: 60px 10px 0;
  }

  .popup__close {
    display: block;
  }

  .popup__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 24px;
    margin-bottom: 30px;
  }

  .popup__title {
    font-size: 25px;
  }

  .popup__subtitle {
    font-size: 16px;
    line-height: 21px;
  }

  .popup__subtitle br {
    display: none;
  }

  .popup__content {
    padding: 30px 10px;
  }

  .popup__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .popup__block {
    padding: 10px 15px;
    border-width: 1px;
    width: 100%;
  }

  .popup__block:nth-child(2n) {
    margin-left: 0;
  }

  .popup__block-title {
    font-size: 16px;
  }

  .popup__block-text {
    font-size: 16px;
  }

  .proposal__block + .proposal__block {
    margin-left: 24px;
  }

  .step-by-step-slider {
    max-width: initial;
    padding: 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .about__subtitle {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 60px;
  }

  .about__wrap {
    height: 112px;
    border: 6px solid #ffffff;
  }

  .about__block {
    font-size: 14px;
    height: 100px;
  }

  .about__block:first-child::after,
  .about__block:last-child::after {
    height: 42px;
    top: 29px;
    width: 1px;
  }

  .about__block-title,
  .about__block-text {
    font-size: 12px;
    line-height: 1.2;
  }

  .about__block-title {
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .about__block-text {
    padding: 0 5px;
  }

  .about__block:hover {
    -webkit-transform: translatey(-54px);
    -ms-transform: translatey(-54px);
    transform: translatey(-54px);
    -webkit-transform: scaleY(54px);
    -ms-transform: scaleY(54px);
    transform: scaleY(54px);
    height: 154px;
  }

  .advantages__title {
    margin-bottom: 35px;
  }

  .advantages__wrap {
    row-gap: 12px;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    grid-template-rows: repeat(3, minmax(200px, 276px));
  }

  .advantages__block {
    height: 276px;
  }

  .advantages__block .advantages__image {
    background-size: 50% !important;
    height: calc(100% - 20px);
    margin-top: 20px;
  }

  .advantages__content {
    margin-bottom: 0;
    font-size: 13px;
  }

  .benefits {
    padding-bottom: 77px;
  }

  .benefits__title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 38px;
  }

  .benefits__title {
    margin-bottom: 15px;
  }

  .benefits__subtitle {
    font-size: 14px;
    line-height: 21px;
  }

  .benefits__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .benefits__content-inner-left,
  .benefits__content-inner-right {
    width: 100%;
  }

  .benefits__content-inner-right {
    margin-left: 0;
  }

  .benefits__content-inner-left .benefits__content-block:not(:first-child),
  .benefits .benefits__content-block {
    margin-top: 12px;
  }

  .benefits__content-block {
    padding: 20px 15px;
  }

  .benefits__content-title {
    font-size: 25px;
    line-height: 22.5px;
  }

  .benefits__content-text {
    font-size: 14px;
  }

  .block-more {
    font-size: 13px;
  }

  .hero__button {
    padding: 9px 38px;
  }

  .hero__button--accent {
    padding: 9px 38px;
  }

  .contacts-section {
    padding: 50px 0;
  }

  .contacts-section__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  .form-contanct__submit {
    margin-top: 50px;
  }

  .form-contanct input[type=label] {
    margin: 0;
  }

  .form-contanct input[type=text] {
    margin-bottom: 20px;
  }

  .form-contanct__submit {
    max-width: 340px;
    width: 100%;
  }

  .header__logo-link img {
    min-width: 39px;
    height: 41px;
  }

  .header {
    height: 63px;
  }

  .header__menu-burger {
    display: block;
  }

  .header__button-top {
    display: none;
  }

  .header__logo-link {
    height: 40px;
  }

  .hero {
    height: initial;
  }

  .hero__content {
    max-width: initial;
    text-align: center;
    margin-bottom: 110px;
  }

  .hero__title {
    line-height: 1.2;
    font-size: 30px;
    margin-bottom: 33px;
  }

  .hero__subtitle {
    font-size: 14px;
    line-height: 1.48;
    margin-bottom: 42px;
  }

  .hero__image-wrap {
    display: none;
  }

  .info__title {
    padding-bottom: 32px;
    margin-bottom: 57px;
  }

  .info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .info__block + .info__block {
    margin-left: 0;
    margin-top: 128px;
  }

  .info__block-title {
    font-size: 25px;
    margin-bottom: 23px;
  }

  .info__block-content {
    font-size: 20px;
  }

  .info__block::after {
    bottom: -37px;
  }

  .info__content {
    padding-left: 6px;
  }

  .nav {
    display: none;
  }

  .nav__link {
    font-size: 12px;
  }

  .popup-form__top {
    padding: 20px 10px;
    padding-right: 45px;
  }

  .popup-form__bottom {
    padding: 20px 10px 30px;
  }

  #button-popup .popup-question__type-company-block {
    width: 100%;
  }

  #button-popup .popup-question__type-company-text {
    margin: 0;
    margin-bottom: 30px;
  }

  #button-popup .popup-question__type-company-image {
    width: 100%;
  }

  .progressbar__point-text {
    font-size: 10px;
  }

  .progressbar__progressbar-wrap {
    height: 18px;
  }

  .progressbar__progressbar-inner {
    height: 9px;
  }

  .progressbar__progressbar-pointer {
    width: 26px;
    height: 26px;
  }

  .proposal__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .proposal__block + .proposal__block {
    margin-left: initial;
    margin-top: 21px;
  }

  .proposal__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 180px;
  }

  .proposal__title {
    text-align: left;
    max-width: 310px;
  }

  .proposal__block-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: right;
  }

  .proposal__block-title {
    margin: 0;
  }

  .proposal__block-image-wrap {
    margin-top: 0;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .proposal__block-image {
    max-height: 136px;
  }

  .proposal__block:nth-child(2) .proposal__block-image {
    max-height: 106px;
  }

  .solutions__title {
    margin-bottom: 35px;
  }

  .solutions__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .solutions__block {
    margin-bottom: 13px;
    max-width: initial;
    width: 49%;
  }

  .solutions__block + .solutions__block {
    margin-left: initial;
  }

  .solutions__block-title {
    font-size: 20px;
  }

  .solutions__block-title br {
    display: none;
  }

  .solutions__text {
    font-size: 13px;
  }

  .solutions__list {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .solutions__block:nth-child(2) {
    margin-left: 1%;
  }

  .solutions__block:nth-child(3) {
    width: 100%;
    padding: 13px 20px;
  }

  .solutions__block:nth-child(3) .solutions__block-title {
    margin-bottom: 15px;
  }

  .solutions__block:nth-child(3) .solutions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .solutions__block:nth-child(3) .solutions__item {
    margin-right: 20px;
  }

  .step-by-step-slider__slide {
    padding: 20px 18px;
  }

  .step-by-step-slider__slide-title {
    font-size: 18px;
  }

  .step-by-step-slider__slide-text {
    font-size: 15px;
    line-height: 1.2;
  }

  .step-by-step-slider__image-wrap {
    min-width: 88px;
    height: 88px;
    padding: 15px;
  }

  .slick-dots {
    top: -133px;
  }

  .slick-dots li button {
    width: 26px;
    height: 26px;
  }

  .step-by-step__slider-main-wrap {
    padding-top: 0;
  }

  .section {
    padding: 75px 0;
  }

  .block-title {
    font-size: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 400px) {
  .hero__button + .hero__button {
    margin-left: 0;
    margin-top: 15px;
  }

@supports (-webkit-appearance:none) {

}
}
